AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_SESSION_TOKEN=
AWS_DEFAULT_REGION=us-east-1
AWS_ASSUME_ROLE_ARN=
AWS_ASSUME_ROLE_SESSION_NAME=aws-dash-dashboard

NEXT_PUBLIC_API_URL=http://localhost:8000
